<!doctype html>
<html>
    <head>
        <meta charset=utf-8>        
        <title> {{ title }} - Flask App</title>
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/unsemantic.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/style.css') }}">      
    </head>
    <body class='grid-container'>
    	<div class="grid-100 hidden" style='height: 5em'> </div>
    	<div class="grid-45 hidden"> <span> hidden </span> </div>
    	<span> Administration </span>

    	<div class="clear"></div>
    	<div class="grid-100 hidden" style='height: 5em'> </div>

        <!-- Login Form  -->
        <div class="grid-40 hidden"> <span> hidden </span> </div>
        <div class="grid-20">
        	<form id='login_form' action="" method="POST" name="login">
				{{form.hidden_tag()}}
				{% if error %} <span class="error"> {{ error }} </span> <br> {% endif %}
				{{ form.username.label }} {{ form.username(class_='username') }} <br>
				{{ form.password.label }} {{ form.password }} <br>

				<p> <input type="submit" value="Sign In"> </p>
			</form>
        </div>
		
        
    </body>
</html>

